#body{
    background-color: #eee;
}

header{
    background-color: #3b3b4f;
    padding: .5rem;
    border-bottom: 3px solid tomato;
    border-right: 3px solid tomato;
    border-left: 3px solid tomato;
    border-radius: 0 0 15px 15px;
}

.header_contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 60%;
}

.cart{
    width: 50px;
    transition: all 300ms;
}

.pedido{
    width: 100%;
    display: flex;
    justify-content: center;
}

.budge{
    color: yellow;
    font-weight: bold;
    border-radius: 50%;
}

.hidden{
    display: none;
}

.opacity{
    filter: brightness(.4);
}

/* MAIN */

main{
    background-color: #eee;
    padding: 1rem 0;
}

#buscador{
    display: flex;
    margin: auto;
}

#listado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 200px;
    margin: 1rem;
    transition: all 300ms;    
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 10px gray;
}

.card:hover img{
    transform: scale(1.2);
    filter: brightness(130%); 
}

.card_info{
    background-color: #ccc;
    border-radius: 0 0 5px 5px;
    padding: .5rem;
    border: 2px solid black;
}

.card h3{
}

.card p{
    margin: 0;
}

.card img{
    width: 100%;
    transition: all 300ms;  
    filter: drop-shadow(6px 6px 7px #222); 
}

.fondoRegular{
    background-image: url(./img/fondoTetrisRegular.jpg);
    background-size: contain;
}

.fondoGold{
    background-image: url(./img/fondoTetrisGold.jpg);
    background-size: contain;
}

.fondoSilver{
    background-image: url(./img/fondoTetrisSilver.jpg);
    background-size: contain;
}

/* FOOTER */

footer{
    background-color: #3b3b4f;
    padding: 1rem;
}

.texto_footer{
    color: white;
}

/* CARRITO */

table{
    color: black;
}

#modGracias{
    background-color: rgba(0, 0, 0, .7);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.modalDialog{
    width: 50%;
    background-color: #ddd;
    padding: 2rem;
    margin: 3rem auto;
}

@media screen and (max-width: 480px) {

    .logo{
        width: 100%;
    }

    .titulo{
        font-size: 1.2rem;
    }
    
    .subtitulo{
        font-size: .8rem;
    }

    .modalDialog{
        width: 90%;
        padding: 1rem;
    }

    .exit2{
        font-size: .5rem;
    }

    .nomPieza {
      display: none;
    }
  }